---
layout: home
front_image_path: /assets/images/ru-cover-image-sm.jpg
front_image_caption: >-
  R-U-here is an exploration into the past, present and the future of  Rural &
  Urban living and how changes might effect us all.  Throughout October 2019 R.U
  will be on the
  Buses.                                                                    They
  connect the Rural and the Urban as well as taking us through a landscape that
  we hardly engage with on our journey to and from home, work & play.  R.U will
  be traveling on the buses an finding out more... We will be posting our
  findings on Instagram
main_image_path: /assets/images/20190101-203049-copy.jpg
main_image_caption: >-
  "R-U-here is an exploration into the past,present and the future of Rural &
  Urban living and how changes might effect us all. The explorations will be
  through walks,talks,exhibitions,performance,games,humor,Art, Architecture
  and... with people. This is a holding page- A full website will follow.please
  follow us on social media for the moment.
show_carousel: false
show_blog: false
posts_number: 0
carousel:
  - image: /assets/images/advert-impregnable.jpg
    caption:
    alink:
  - image: /assets/images/20190101_203049 copy.jpg
    caption: Urban
    alink: /gallery/test/
  - image:
    caption:
    alink:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: 'assets/:year'
_comments:
  front_image_path: Cover image
  front_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---

{% if page.front_image_path and page.show_front_image %}

    <!-- parallax picture please -->
    <figure>
    {% assign alt_text = page.title %}
    {% if page.front_image_caption %} {% assign alt_text = page.front_image_caption %} {% endif %}
    {% include img.html src=page.front_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>

  {% endif %}

  <div class="editable">
    <p class="full-width-text"><strong>R-U-here</strong> is an exploration into the past, present and the future of&nbsp; Rural &amp; Urban living and how changes might effect us all.</p>
    <p class="full-width-text">Throughout October 2019 R.U will be on the Buses. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; They connect the Rural and the Urban as well as taking us through a landscape that we hardly engage with on our journey to and from home, work &amp; play.</p>
    <p class="full-width-text">R.U will be traveling on the buses an finding out more... We will be posting our findings on Instagram</p>
    <p class="full-width-text">&nbsp;</p>
    <h5>This is a holding page - full website will follow. &nbsp; Please follow us on social media for the moment. See you there!</h5>
  </div>

  {% if page.show_carousel and page.carousel %}
  <section class="slideshow">
    <h2>This is a demo slideshow</h2>
    <div class="flexslider">
        <ul class="slides">
          {% for slides in page.carousel %}
          <li>
            {% if slides.alink %}
               <a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">
            {% endif %}
            {% include img.html src=slides.image width=960 alt=slides.caption %}
            {% if slides.alink %}
              </a>
            {% endif %}
            {% if slides.caption %}
              <p class="flex-caption">{% if slides.alink %}<a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.alink %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}

    <!-- Regular page promotions on front page -->
    {% for section in site.pages %}

      {% if section.frontpage %}

        {% if section.main_image_path %}
          <section class="gallery--cover has--cover" style="background-image: url({{ section.main_image_path }});">
        {% else %}
          <section class="gallery--cover has--cover" style="background-image: url('https://placekitten.com/g/1200/300');">
        {% endif %}

          <a href="{{ section.url | prepend: site.baseurl }}">

            <div class="scrim has--cover">
              <article class="gallery--front">
                <header class="gallery--header">
                  <h2 class="cover--title mb0">{{ section.frontpagetitle }}</h2>
                </header>
                {% if section.homepage_description_markdown %}
                  {{ section.homepage_description_markdown | markdownify }}
                  <span class="post--readmore">Read more <span> <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>

                {% endif %}
            </span>
          </article>
          </div>
          </a>
        </section>

      {% endif %}

    {% endfor %}

      <!-- Galleries -->
    {% for gallery in site.gallery %}

      {% if gallery.frontpage %}

        <section class="gallery--cover {% if gallery.main_image_path %}has--cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>

          <a href="{{ gallery.url }}">

            <div class="scrim {% if gallery.main_image_path %}has--cover{% endif %}">
              <article class="gallery--front">
                <header class="gallery--header">
                  <h2 class="cover--title mb0">{{ gallery.frontpagetitle }}</h2>
                </header>
                {% if gallery.homepage_description_markdown %}
                  {{ gallery.homepage_description_markdown | markdownify }} <span class="post--readmore">View gallery  <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>
                {% endif %}
              </article>
            </div>
          </a>
        </section>

      {% endif %}

    {% endfor %}


    {% if page.show_blog %}

      <section class="blog blog--home">

        <div class="editable">
          
        </div>

        <ul class="posts--list">

          {% for post in site.posts limit:page.posts_number %}

           {% unless post.categories contains 'Archive' %}

            {% include post_excerpt.html %}

          {% endunless %}

          {% endfor %}

        </ul>
        <p><a href="/news/">Read all news&nbsp;&raquo;</a></p>

      </section>
    {% endif %}</section>